//site color variables
$body-color: #fff;
$primary-color: #141414;
$secondary-color: #3b5998;
$text-color: #808080;
$text-color-hover: #a0a0a0;
$text-color-dark-bg: #ffffff;
$top-container: #F2F0EC;
$text-color-dark: #141414;
$site-ease: cubic-bezier(0.645, 0.045, 0.355, 1);
$border-color: #e0dede;
$dot-color: #ff5b5b;
$cp-color: #610048;
$top-container:#F2F0EC;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: "Raleway", sans-serif;
$secondary-font: "Roboto", sans-serif;


// Portfolio
$gray-background: #666666;

//shades of logo
$logo-color: #7b6026;
$logo-color-light: #a39067;
$logo-coler-lighter: #cabfa8;
$logo-color-lightest: #f2efe9;